*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
/*Navigation*/
#navbar{
    flex-direction: column;
    font-size: 1rem;
    position: relative;
}
#navbar ul li{
    font-size: 0.9rem;
}
#logo img{
    height: 143px;
    width: 272px;
}

/*Home*/
#home{
    height: 478px;
    position:relative;
    width: 100%;
}
#home::before{
    height: 100%;
}
#heading{
    text-align: center;
    width: 100%;
}
#heading>h1{
    font-size: 2rem;
}
#para{
    width: 100%;
    text-align: center;
    font-size: 1rem;

}
#buton{
    text-align: center;
}
.btn{
    padding: 5px 30px;
    font-size: 1rem;
}




/*Services*/
.h-primary{
    font-size: 2rem;
}
.h-secondary{
    font-size: 1.5rem;
}
#services{
    flex-direction: column;
}
/*Partners section*/

#clients{
    flex-direction: column;
}
.client-items img {
    height: 66px;
    width: 100px;
    padding: 0px;
    margin: 0px 0px 0px 0px;
}

/*Contact Us*/
#contact-box input, #contact-box textarea {
    
    font-size: 0.9rem;
}
#contact-box label {
    font-size: 1rem;
    
}
#contact-box form{
    width: 80%;
}
